[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
networkx = "*"
"primer3-py" = "*"
webcolors = "*"
colorama = "*"

[dev-packages]
pytest = "*"
pylint = "*"
guzzle-sphinx-theme = "*"
pyflakes = "*"
pytest-benchmark = "*"
pygaljs = "*"
pygal = "*"

[requires]
python_version = "3.6"
